<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>JCloud权限认证系统</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/signin.css"/>
  <script type="text/javascript" src="../js/jquery.js"></script>
</head>

<body class="sign_body">
<div class="container form-margin-top" style="width: 400px;height: 600px;margin: 100px auto">
    <form id="consentForm" name="consent_form" method="post" action="/oauth2/authorize">
      <h3 class="form-signin-heading" style="margin-bottom: 5%"><b th:text="${clientName}"></b> 将获得以下权限：
      </h3>
      <input type="hidden" name="client_id"  class="form-control"  th:value="${clientId}">
      <input type="hidden" name="state"  class="form-control"  th:value="${state}">

      <div th:each="scope: ${scopes}" style="margin: 0 0 2% 5%">
        <input type="checkbox"
               class="scopeTemp"
               disabled="disable"
               th:value="${scope.scope}"
               th:id="${scope.scope}"
               checked>
        <label th:for="${scope.scope}"
               th:text="${scope.scope}=='profile'?(${scope.scopeName}+'('+${principalName}+')'):${scope.scopeName}"
               th:title="${scope.scope}=='profile'?(${scope.description}+'('+${principalName}+')'):${scope.description}"></label>
      </div>

      <p><b th:text="${clientName}"></b>尚未安装在您有权访问的任何账户上。</p>
      <p class="help-block">授权后表明你已同意 <a>服务协议</a></p>
<!--      <button class="btn btn-lg btn-primary btn-block" type="submit">-->
<!--        Consent-->
<!--      </button>-->
      <input type="button" class="btn btn-lg btn-primary btn-block" value="Consent" onclick="consent()">
      <div style="margin-top: 5px;height: 50px">
        <p style="text-align: center;font-size: 14px">授权将重定向到</p>
        <p style="text-align: center;font-size: 14px"><b th:text="${redirectUri}"></b></p>
      </div>
    </form>
</div>
<footer>
  <p>support by: jcloud</p>
  <p>git: <a href="https://gitee.com/musi1996/jcloud">https://gitee.com/musi1996/jcloud</a></p>
</footer>
</body>

<script>
    function consent(){
        var arr = [];
        $("input.scopeTemp").each(function (){
            arr.push($(this).val())
        })
        console.log(arr)
        var scope = '<input type="hidden" name="scope" value='+arr+'>'
        console.log(scope)
        $("#consentForm").append(scope);
        document.consent_form.submit();
    }
</script>
</html>
