<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwk.upms.web.dao.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jwk.upms.base.entity.SysLog">
        <id column="id" property="id" />
        <result column="log_type" property="logType" />
        <result column="log_title" property="logTitle" />
        <result column="remote_addr" property="remoteAddr" />
        <result column="request_uri" property="requestUri" />
        <result column="method" property="method" />
        <result column="params" property="params" />
        <result column="time" property="time" />
        <result column="exception" property="exception" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

</mapper>
