<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwk.upms.web.dao.SysRoleMenuMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.jwk.upms.base.entity.SysRoleMenu">
    <id column="id" property="id"/>
    <result column="role_id" property="roleId"/>
    <result column="menu_id" property="menuId"/>
  </resultMap>
  <delete id="deleteRoleMenu">
    DELETE FROM sys_role_menu as srm WHERE role_id=#{roleId} and menu_id in ( select id from
    sys_menu where `type`=#{menuType})
  </delete>

</mapper>
