<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwk.down.web.dao.SysOrgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jwk.down.web.entity.SysOrg">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="org_name" property="orgName" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="org_sort" property="orgSort" />
        <result column="level" property="level" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
